@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6
ul,li,p{
	margin: 0;
	padding: 0;
}
h1{
	font-size: 45px;
	font-weight: 600;
	text-transform: uppercase;
    padding-bottom: 10px;
	color: #ffffff;
}
ul{
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
	font-weight: 600;
	color: #ffffff;
}
a:hover {
	color: #ffffff;
    text-decoration: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
.padding-20{
	padding: 0 20px;
}
.container{
	max-width: 1450px;
	margin: 0 auto;
}
.title-box{
	text-align: center;
}
.title-box .title{
	font-size: 45px;
	line-height: 1.8;
	font-weight: 700;
	color: #000000;
}
.title-box .sub-text{
	font-size: 18px;
	font-weight: 500;
	color: #000000;
}
.sub-title{
	font-size: 22px;
	font-weight: 600;
}
.primary-button{
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	background-color: #fc8a48;
}
.primary-color{
	color: #fc8a48;
}
.site-header{
	position: absolute;
    width: 100%;
    padding: 20px;
}
.logo {
    max-width: 240px;
}
.logo img{
    width: 100%;
}
.cta-link {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}
.site-header .cta-link ul{
	display: flex;
   margin: 0;
}
.site-header .cta-link ul li{
	display: flex;
    align-items: center;
}
.site-header .cta-link a img{
	padding-right: 20px;
}
.site-header .cta-link a{
	font-size: 18px;
	line-height: 27px;
	padding: 0 30px 0 0;
}
.site-header .cta-link a.last-item {
    padding-right: 0;
}
.free-credit{
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding: 170px 0 84px;
}
.banner-sub-text{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.6;
}
.free-credit  .publisher {
	padding: 50px 0 25px;
}
.free-credit .publisher h3.sub-title {
    color: #ffffff;
    line-height: 1.5;
   padding-bottom: 15px;
}
.list-wrapper {
    display: flex;
    justify-content: space-between;
}
.list-wrapper ul {
    width: 50%;
}
ul.publisher-list li {
	position: relative;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    padding: 15px 0 15px 35px;
    line-height: 1.6;
}
ul.publisher-list li::before {
  position: absolute;
    content: '';
    background-image: url(../images/check.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    left: 0;
    top: 20px;
}
.free-credit  a.primary-button {
    padding: 17px 27px;
    display: inline-block;
}
.free-credit  a.primary-button:hover {
    color: #ffffff;
}
.free-credit  a.primary-button img {
    padding-left: 10px;
     transition: all 0.3s;
}
.free-credit  a.primary-button:hover img {
    transform: translateX(10px);
    transition: all 0.3s;
}

.form-wrapper {
	max-width: 480px;
    padding: 38px 34px;
    background-color: #ffffff;
    margin-left: auto;
    box-shadow: 0 3px 12px rgb(0 0 0 / 16%);
}
.form-wrapper .form-title {
    padding-bottom: 30px;
}
.form-wrapper .form-title h4 {
    font-size: 18px;
    font-weight: 600;
}
.credit-form .input-grp {
    margin-bottom: 20px;
}
.credit-form input.form-control {
	height: 55px;
    background-color: #f9f9f9;
    border: 1px solid #d4d4d4;
     padding:15px 20px;
     box-shadow: none;
}
.credit-form  input.form-control::placeholder {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px
    color:rgba(146,152,152,0.8);
}
.credit-form  button.primary-button {
	margin-top: 10px;
    width: 100%;
    text-align: center;
    border: none;
    padding: 17px;
}
.form-wrapper button.primary-button span  {
	display: inline-block;
	padding-right: 10px;
	transition: all 0.5s;
}
.form-wrapper button.primary-button img  {
	transition: all 0.5s;
}
.form-wrapper button.primary-button:hover img  {
	transform: translateX(10px);
	transition: all 0.5s;
}
.get-started{
	padding: 77px 0 86px
}
.get-started-wrapper{

}
.get-started .get-started-wrapper .title-box {
    margin-bottom: 55px;
}

.get-started .get-started-wrapper .video-wrapper {
    max-width: 930px;
    position: relative;
    margin: 0 auto;
}
.get-started .get-started-wrapper .video-wrapper img {
    height: auto;
    width: 100%;
}
.get-started .get-started-wrapper .video-wrapper::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}
.ply-btn:after {
    position: absolute;
    content: '';
    background-image: url(../images/ply-btn.png);
    width: 59px;
    height: 59px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
}
video#my-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#my-video .fancybox-iframe, .fancybox-video {
    background: transparent;
    border: 0;
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    object-fit: cover;
    width: 100%;
}
.why-linkpublisher {
    padding: 95px 0;
    background-color: #f6f6f6;
}
.why-linkpublisher .why-linkpublisher-wrapper .title-box {
    margin-bottom: 60px;
}
.why-linkpublisher .why-linkpublisher-wrapper .title-box .sub-text {
    max-width: 650px;
    margin: 0 auto;
}
.common-box {
	max-width: 600px;
  border-radius: 8px 12px 12px 12px;
  padding-left: 15px;
      box-shadow: 7px 8px 13px 0px rgb(0 0 0 / 40%);
  position: relative;
  margin: 0 auto 70px;
}
.common-box::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 15px;
  border-radius: 20px;
  z-index: 0;
}
.content-box{
	 border-right: 24px solid;
}
.orange{
    color: #FBAD63;
}
.orange-box,.orange-box .content-box::after{
    background: #FBAD63;
}
.orange-box .content-box{
    border-color: #FBAD63;
}
.orange-box:after{
    background: #AF7945;
}
.purple{
    color: #ae87d0;
}
.purple-box,.purple-box .content-box::after{
    background: #ae87d0;
}
.purple-box .content-box{
     border-color: #ae87d0;
}
.purple-box:after{
    background: #7a5f92;
}
.red{
    color: #eb9592;
}
.red-box,.red-box .content-box::after{
    background: #eb9592;
}
.red-box .content-box{
    border-color: #eb9592;
}
.red-box:after{
    background: #a46866;
}
.blue{
    color: #7ba5d0;
}
.blue-box,.blue-box .content-box::after{
    background: #7ba5d0;
}
.blue-box .content-box{
     border-color: #7ba5d0;
}
.blue-box:after{
    background: #567391;
}
.violet{
    color: #ce84bd;
}
.violet-box,.violet-box .content-box::after{
    background: #ce84bd;
}
.violet-box .content-box{
     border-color: #ce84bd;
}
.violet-box:after{
    background: #905c84;
}
.magenta{
    color: #48bec9;
}
.magenta-box,.magenta-box .content-box::after{
    background: #48bec9;
}
.magenta-box .content-box{
    border-color: #48bec9;
}
.magenta-box:after{
    background: #32858c;
}
.common-box .content-box {
  background: #ffffff;
  border-radius: 5px 12px 12px 0px;
  padding: 25px 10px 25px 20px;
  display: flex;
  z-index: 99;
  position: relative;
  text-align: left;
}
.icon {
    position: relative;
    width: 100%;
    height: 105px;
    max-width: 105px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 8px 13px 0px rgb(0 0 0 / 40%);
}

.common-box .content-box::after {
  content: '';
  position: absolute;
  top: 15px;
  left: -15px;
  width: 165px;
  height: 100%;
  border-radius: 0px 90px 90px 40px;
  box-shadow: 7px 8px 13px 0px rgb(0 0 0 / 40%);
  z-index: -1;
}
.text{
	max-width: 385px;
    margin-left: auto;
}
.text h5 {
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    padding-bottom: 10px;
}
.text p{
	font-weight: 500;
	line-height: 30px;

}
.ranking{
	padding: 65px 0 65px;
	background-color: #275570;
}
.ranking .ranking-wrapper{

}
.ranking .ranking-wrapper h2.title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    padding-right: 15px;
    color: #ffffff;
}
.ranking .ranking-wrapper .click-here-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 55px;
     height: 100%;
    align-items: center;
}
.ranking .ranking-wrapper a.primary-button {
    display: inline-block;
    font-size: 22px;
    padding: 18px 60px;
    background-color: #f2652d;
}
.testimonials{
	padding: 80px 0;
}
.testimonials-wrapper{

}
.testimonials-wrapper .review-card{

	 transition: all 0.5s;
}
.review-card .content{
	position: relative;
	padding: 60px 42px 38px 60px;  
	background-color: #f9f9f9;
	margin-bottom: 50px;
}
.content:before {
    content: '"';
    position: absolute;
    left: 32px;
    top: 20px;
    font-size: 94px;
}
.review-card .content:after{
	position: absolute;
	content: '';
	width: 31px;
	height: 26px;
	background-image: url(../images/Polygon-2.png);
    background-repeat: no-repeat;
    background-position: center;
    bottom: -25px;
}
.review-card .content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}
.review-card .review-img{
	display: flex;
    align-items: center;
}
.review-card .review-img .person-img{
    margin-left: 25px;

}
.review-card .review-img  .person-img img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
.review-card .person-name{
	margin-left: 15px;
}
.review-card .person-name .name{
	color: #354b64;
    font-weight: 600;
}
.review-card .person-name .review-points{

}
.review-card .person-name .review-points i {
    color: #fc6527;
    font-size: 12px;
}
.review-card .person-name .review-points i:last-child {
    color: #888888;
}
/*@@@@@@@@@@ slide @@@@@@@@@@*/
#slide .owl-stage-outer {
    padding-top: 65px;
}
.owl-item.active.center .review-card {
    transform: translateY(-45px);
    transition: all 0.5s;
}
.owl-item.active.center .review-card .content{
	background-color: #ffffff;
	box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
}
.owl-item.active.center .review-card .content:after{
	position: absolute;
	content: '';
	width: 31px;
	height: 26px;
	background-image: url(../images/Polygon-1.png);
    background-repeat: no-repeat;
    background-position: center;
    bottom: -25px;
    left: 40px;
}
.faq{
	padding: 80px 0;
	background-color: #f6f6f6
}
.faq .faq-wrapper{

}
.faq .faq-wrapper .title-box{
	margin-bottom: 50px;
}
.faq .faq-wrapper .accordian-1{

}
.faq-card button.faq-question {
    text-align: left;
    background-color: #f2652d;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    padding: 23px 45px;
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 5px;
    position: relative;
}
.faq-card button.faq-question::after {
    position: absolute;
    content: '';
    background-image: url(../images/plus.png);
    height: 24px;
    width: 24px;
    background-position: center;
    background-repeat: no-repeat;
    right: 33px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.6s;
}
button.faq-question.active::after {
    position: absolute;
    content: '';
    background-image: url(../images/minus.png);
    height: 24px;
    width: 24px;
    background-position: center;
    background-repeat: no-repeat;
    right: 33px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.6s;
}
.faq-card .panel{
	display: none;
	font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    padding: 30px;
}
.help{
	padding: 80px 0;
}
.help-wrapper{

}
.help-content{

}
.help-content .title-box{
	text-align: left;
}
.help-content .title-box .title {
    font-weight: 600;

}
.help-content .title-box .sub-text {
    font-weight: 400;
    font-size: 16px;
    padding: 15px 0px 25px;
    max-width: 620px;
}
.help-content img{
	width: 100%;
	height: auto;
}
.site-footer{
	padding: 72px 0 130px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.site-footer .title-box .title {
    color: #ffffff;
}
.site-footer .title-box p.sub-text {
    margin: 0 auto;
     margin-bottom: 35px;
    max-width: 925px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff
}
.site-footer .title-box a.primary-button{
	display: inline-block;
	background-color: #f2652d;
	padding: 17px 27px;

}
.link-wrapper{
	padding-top: 106px;
}
.link-wrapper .media-wrapper{
	display: flex;
    align-items: center;
    text-align: left;
}
.media-wrapper.skype {
    padding-left: 50px;
}
.link-wrapper .media-wrapper .link-img{

}
.link-wrapper .media-wrapper .link-content{
	padding-left: 30px;
}
.link-wrapper .media-wrapper .link-content .link-title{
	font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}
.link-wrapper .media-wrapper .link-content .social-link{
	font-size: 24px;
	font-weight: 600;
	line-height: 35px;
}




/*#############Responsive##############*/
@media only screen and (max-width:1599px){

}

@media only screen and (max-width:1365px){
h1 {
    font-size: 42px;
}
.list-wrapper {
    flex-direction: column;
}
.free-credit {
    padding: 125px 0 84px;
}
.common-box .content-box {
    padding: 25px 10px 15px 20px;
    align-items: center;
    text-align: left;
}
.text {
    padding-left: 35px;
}
.text p {
    font-size: 14px;
}
.faq-card button.faq-question::after {
    right: 15px;
}
.link-wrapper .media-wrapper .link-content .social-link {
    font-size: 20px;
}

	}

@media only screen and (max-width:1199px){




	.common-box {
    margin: 0 auto;
    margin: 40px 0;
}
.content-box {
    justify-content: center;
    border-right: 16px solid;
     padding: 15px 25px 15px 25px;
    align-items: center;
    text-align: left;
}
.icon {
    width: 100%;
}
.text h5 {
    font-size: 22px;
    padding: 10px 0;
}

.link-wrapper .media-wrapper .link-content .link-title {
    font-size: 14px;
}
.link-wrapper .media-wrapper .link-content .social-link {
    font-size: 16px;
}
.media-wrapper .skype {
    padding-left: 25px;
}
	}

@media only screen and (max-width:991px){
	h1 {
    font-size: 26px;
}
.padding-20{
	padding: 0 10px ;
}
.title-box .title {
    font-size: 38px;
}
.title-box .sub-text {
    font-size: 16px;
}
.list-wrapper ul {
     width: 100%; 
}
.form-wrapper {
    padding: 20px;
  
}
.form-wrapper .form-title h4 {
    font-size: 14px;
}
.form-wrapper .form-title {
    padding-bottom: 20px;
}

.credit-form input.form-control {
    padding: 10px;
    box-shadow: none;
}
.credit-form button.primary-button {
    margin-top: 10px;
    padding: 10px;
}

	.site-header {
    padding: 20px 10px;
}
	.site-header .cta-link a {
    font-size: 16px;
    padding: 0 20px 0 20px;
}
.free-credit {
    padding: 100px 0 44px;
}
.get-started {
    padding: 40px 0 40px;
}
.why-linkpublisher {
    padding: 40px 0;
}
.why-linkpublisher .why-linkpublisher-wrapper .title-box {
    margin-bottom: 40px;
}
.common-box {
    margin: 30px auto ;
}
.ranking {
    padding: 35px 0;
}
.ranking .ranking-wrapper h2.title {
    font-size: 20px;
}
.ranking .ranking-wrapper .click-here-btn {
    padding: 0;
}
.ranking .ranking-wrapper a.primary-button {
    font-size: 18px;
    padding: 18px 30px;
}
.testimonials {
    padding: 40px 0;
}
#slide .owl-stage-outer {
    padding-top: 40px;
}
.review-card .content {
    padding: 53px 20px;
    margin-bottom: 40px;
}
.content:before {
    left: 8px;
    top: 15px;
    font-size: 60px;
}
.review-card .review-img .person-img {
    margin-left: 0;
}
.faq {
    padding: 40px 0;
}
.faq .faq-wrapper .title-box {
    margin-bottom: 20px;
}
.faq-card button.faq-question {
    padding: 15px 35px;
    font-size: 18px;
}
.faq-card .panel {
    padding: 15px;
}
.help {
    padding: 40px 0;
}
.help  .title-box .title {
    font-size: 30px;
}
.help-content .title-box .sub-text {
    font-size: 14px;
    
}
.site-footer {
    padding: 40px 0 40px;
}
.site-footer .title-box p.sub-text {
    margin-bottom: 25px;
}
.site-footer .title-box a.primary-button {
    padding: 10px 17px;
}
.link-wrapper .media-wrapper {
    margin: 20px 0;
    justify-content: center;
}
.media-wrapper.skype {
    padding: 0;
}
.link-wrapper {
    padding-top: 55px;
}
.link-wrapper .media-wrapper .link-content {
    padding-left: 15px;
}
.link-wrapper .media-wrapper .link-content .link-title {
    font-size: 14px;
}
	}

@media only screen and (max-width:767px)
	{
h1 {
    font-size: 26px;
}
.title-box .title {
    font-size: 24px;
}
.title-box .sub-text {
    font-size: 14px !important;
}
.primary-button {
    font-size: 16px;
}
.form-wrapper {
    margin: 30px auto 0;
}
.site-header .cta-link a span {
    display: none;
}
.banner-content {
    padding-top: 20px;
}
.banner-sub-text {
    font-size: 16px;
}
.free-credit .publisher {
    padding: 20px 0 30px;
}
.free-credit a.primary-button {
    padding: 15px;
}
 .free-credit .form-wrapper {
    margin: 30px 0 0;
}
.ranking .ranking-wrapper h2.title {
    font-size: 18px;
}
.ranking .ranking-wrapper .click-here-btn {
     justify-content: flex-start; 
     margin-top: 20px;
   
}
.help .title-box .title {
    font-size: 24px;
}
.link-wrapper {
    padding-top: 25px;
}
.link-wrapper .media-wrapper .link-content .social-link {
    font-size: 18px;
}
	}

@media only screen and (max-width:575px)
	{
.primary-button {
    font-size: 14px;
} 
.site-header .cta-link a{
    padding: 0;
}
.banner-content {
    padding-top: 50px;
}
.common-box {
    margin: 0 auto;
    margin: 40px 0;
}
.common-box .content-box {
    padding: 15px;
    align-items: center;
    text-align:center;
    flex-wrap: wrap;
}
.common-box .content-box::after {
    content: none;
    
}
.text {
    padding: 10px 0;
}

	}